{% extends 'base.html.twig' %}
{% set route = app.request.attributes.get("_route") %}
{% set title = route is same as 'index' ? 'Post' : 'Update' %}
{% block content %}
<div class="card">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
</div>
<br>
<button class="btn btn-warning"><a style="text-decoration: none;" class="text-dark" href="{{ path('posts_controller') }}">Back</a></button>
{% endblock %}